<nav>
  <li><a data-toggle="tab" routerLink="/tables">Table</a></li>
  <li><a data-toggle="tab" routerLink="/empTable">EmpTable</a></li>
  <li><a data-toggle="tab" routerLink="/binding">Login</a></li>
  <li><a data-toggle="tab" routerLink="/showerror">Form</a></li>
  <li><a data-toggle="tab" routerLink="/dashboard">Dashboard</a></li>
  <li><a data-toggle="tab" routerLink="/child">Child</a></li>
  <li class="active"><a data-toggle="tab" routerLink="/parent">Parent</a></li>
</nav>
<h2>I am Parent calling child page using input decorator.</h2>
<app-child *ngFor="let serverElement of serverElements" [srvElement]="serverElement">hello</app-child>